[defaults]

nocows = True

# Installs collections into [current dir]/ansible_collections/namespace/collection_name
collections_paths = .:collections:~/.ansible/collections:/usr/share/ansible/collections

# Installs roles into [current dir]/roles/namespace.rolename
roles_path = ansible_roles:roles:~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles


# Inventory file to use
inventory = ./inventory
