[Unit]
Description=samba docker container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
RestartSec=5
ExecStartPre=-/usr/bin/docker stop samba
ExecStartPre=-/usr/bin/docker rm samba
ExecStartPre=/usr/bin/docker pull {{samba_container}}
ExecStart=/usr/bin/docker run --name samba {{samba_ports}}    \
    -v {{samba_mount}}:{{samba_mount}} {{samba_container}}  \
    -p -r {{samba_users}} \
    {{samba_shares}}
ExecStop=/usr/bin/docker stop samba

[Install]
WantedBy=multi-user.target
